@layer components {
    .dance-team-card {
        @apply relative bg-white/80 dark:bg-black/80 backdrop-blur-sm rounded-3xl p-8 transition-all duration-400 ease-linear border border-gray-200 dark:border-gray-900 hover:-translate-y-2 hover:shadow-xl hover:shadow-gray-200/50 dark:hover:shadow-gray-900/50;

        .dance-team-wrapper {
            @apply absolute inset-0 bg-gradient-to-br rounded-3xl opacity-0 group-hover:opacity-100 transition-opacity duration-400 ease-linear;
        }

        .years {
            @apply absolute bottom-2 ltr:right-0 rtl:left-0 bg-gradient-to-r text-white size-8 flex items-center justify-center rounded-full text-sm font-bold flex items-center justify-center;
        }
    }
}
