@layer components {

    button {
        cursor: pointer;
    }

    .btn {
        @apply inline-block cursor-pointer py-3 px-8 text-[16px] text-center border rounded-lg border-transparent bg-transparent text-sm transition-all duration-200 ease-linear;

        &[disabled] {
            @apply cursor-default;
        }
    }

    .btn.btn-icon {
        @apply p-0 flex items-center justify-center;
    }

    .btn.btn-xs {
        @apply px-2 py-1 text-11;
    }

    .btn.btn-sm {
        @apply px-3 py-1.5 text-xs;
    }

    .btn.btn-md {
        @apply px-4 py-2 text-13;
    }

    .btn.btn-lg {
        @apply py-3 px-7 text-16;
    }

    .click-btn:hover {
        @apply text-white;
        transition-delay: 0.2s;
        animation: btn 0.6s forwards;
        background:
            radial-gradient(circle, #00a6f4 0.2em, transparent 0.3em) 6em 6em / 1em 1em,
            radial-gradient(circle, #00a6f4 0.2em, transparent 0.3em) 0 0 / 1em 1em;
    }

    .click-btn2:hover {
        @apply text-white;
        transition-delay: 0.2s;
        animation: btn 0.6s forwards;
        background:
            radial-gradient(circle, #5ea500 0.2em, transparent 0.3em) 6em 6em / 1em 1em,
            radial-gradient(circle, #5ea500 0.2em, transparent 0.3em) 0 0 / 1em 1em;
    }
}