@layer base {
    [data-mode=black-white] {
        @apply grayscale;
    }

    body {
        @apply text-base font-body bg-body dark:bg-dark-950 dark:text-dark-50;
    }

    :is(h1, h2, h3, h4, h5, h6) {
        @apply font-heading font-bold;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base;
    }

    .container {
        @apply px-5 mx-auto;
    }

    .list-circle {
        list-style-type: circle;
    }

    .list-square {
        list-style-type: square;
    }

    .list-roman {
        list-style-type: upper-roman;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.5s ease-in-out;
    }
}
